<h1>Creating a new article</h1>

<% if @article.errors.any?%>
    <div class="validation-errors">
        <h2>The following errors prevented the article from being saved:</h2>
        <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>    
        </ul>
    </div>
<% end %>

<%= form_with(model: @article, local: true) do |form| %>
 <p>
    <%= form.label :title %> <br/>
    <%= form.text_field :title%>
 </p>

 <p>
    <%= form.label :description%> <br/>
    <%= form.text_area :description%>
 </p>

 <p>
    <%= form.submit "Update Article" %>
 </p>
<% end %>